# Copy the contents of this file into .env.production and .env.development files.
# It is possible to run the bot with just a .env file, but it is recommended to have separate files for development and production environments.
DISCORD_TOKEN=your bot token
DISCORD_CLIENT_ID=your bot client id
DISCORD_GUILD_ID=your server id

# Optional:
DEV_USER_ID=your user id (for dev-only commands)